<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="apple-touch-icon" href="https://www.progressive.com/apple-touch-icon.png">
	<link rel="shortcut icon" href="https://www.progressive.com/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/ico" href="https://www.progressive.com/favicon.ico">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                <form id="question-form" class="form-inline mt-5">
                    <div class="form-group w-75">
                        <input type="text" id="question" name="question" class="form-control w-100" placeholder="Ask your question!" required>
                    </div>
                    <button type="submit" class="btn btn-light ml-2"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn clear-btn ml-2" id="clear-questions"><i class="fa fa-trash"></i></button>
                </form>
                <div class="scrolling-table mt-3">
                    <div id="questions-container">
                        {% for q in questions %}
                        {% include 'question_answer.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    
   </body>
</html>